commands:
  00_download_conda:
    command: 'wget https://repo.anaconda.com/archive/Anaconda3-2020.02-Linux-x86_64.sh'
  01_install_conda:
    command: 'sudo bash ~/Anaconda3-2020.02-Linux-x86_64.sh -b -f -p /anaconda'
  05_conda_install:
    command: '/anaconda/bin/conda install -y -c dlr-sc pythonocc-core=7.4.0'